In [1]:
import geopandas as gp
import cartagen as cg

In [22]:
pts =gp.read_file("data/puntos/crepes.geojson")
poly = gp.read_file("test_build.geojson")

In [42]:
res = cg.reduce_labelgrid(pts, width = 5000, height= 5000, shape='square', mode = "aggregation", grid=True)
res[1]

                                               geometry  count
0     POLYGON ((105388.041 6708758.443, 110388.041 6...    NaN
1     POLYGON ((105388.041 6713758.443, 110388.041 6...    NaN
2     POLYGON ((105388.041 6718758.443, 110388.041 6...    NaN
3     POLYGON ((105388.041 6723758.443, 110388.041 6...    NaN
4     POLYGON ((105388.041 6728758.443, 110388.041 6...    NaN
...                                                 ...    ...
1990  POLYGON ((385388.041 6858758.443, 390388.041 6...    NaN
1991  POLYGON ((385388.041 6863758.443, 390388.041 6...    NaN
1992  POLYGON ((385388.041 6868758.443, 390388.041 6...    NaN
1993  POLYGON ((385388.041 6873758.443, 390388.041 6...    NaN
1994  POLYGON ((385388.041 6878758.443, 390388.041 6...    NaN

[1995 rows x 2 columns]